.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  display: flex;
  flex-direction: column;
}

.delay-input {
  padding: 5px;
  font-size: 18px;
}

.submit-button {
  padding: 5px;
}
